<header>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-cog"></i> DASHBOARD</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </form>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
          <li><a href="#"><i class="fa fa-bell-o"></i></a></li>
          <li><a href="#"><i class="fa fa-inbox-o"></i></a></li>
          <li><a href="#"><i class="fa fa-cog"></i></a></li>
          <li><a href="#">img</a></li>
          <li><a href="#">logout</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
  </header>

  <section id="sidemenu">
    <div id="nav">
      <a href="#" class="active"><i class="fa fa-home"></i> Home</a>
      <a href="#"> <i class="fa fa-sticky-note-o"></i> item</a>
      <a href="#"> <i class="fa fa-bookmark-o"></i> bookings</a>
      <a href="#"> <i class="fa fa-calendar-check-o"></i> calendar</a>
      <a href="#"> <i class="fa fa-user-o"></i> user account</a>
      <a href="#"> <i class="fa fa-cog"></i> payments</a>
    </div>
  </section>
