body {
    background-color: #222e1f93;
}

canvas {
    background-color: #a8f5ffd7;
}

#gameScreen {
    border-radius: .1em;
    box-shadow: 2px 2px 7px #474747;
}

#img_ball {
    display: none;
}

#img_brick {
    display: none;
}

section {
    float: right;
    padding: 40px 120px;
}

.best-score,
.your-score,
.level {
    border-bottom: 1px solid #a4f4ff;
}

section h1 {
    font-family: cursive;
    font-size: 20px;
    display: inline-block;
    color: #ff000d;
    text-shadow: 2px 3px 2px #240111;
    text-transform: uppercase;
}

section h1 .fa {
    color: yellow;
    font-size: 30px;
}

strong {
    font-size: 25px;
}

section span {
    font-family: cursive;
    font-size: 20px;
    color: #ffc4eb;
    text-shadow: 3px 3px 4px #ff0077;
    margin: 0 auto;
    margin-left: 1em;
    text-transform: uppercase;
}

.p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #ffe600;
    text-align: center;
    text-shadow: 3px 3px 4px #11040a;
    text-transform: lowercase;
    margin: 0 auto;
}

button {
    border: 2px solid #ff0077;
    background-color: transparent;
    padding: 15px 50px;
    margin-top: 12px;
    color: white;
    border-radius: 12px;
    font-size: 26px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    border: 2px solid white;
    font-size: 28px;
    transition: ease-in;
    background: #ff0077;
    box-shadow: inset 2px 3px 5px #240111, inset -2px -3px 5px #240111, 2px 7px 13px #041100;
}