<header>
  <div class="well well-bg">
      <div class="col-md-3">
          <a class="navbar-brand" href="#">
              <img alt="Brand" src="./favicon.ico" width="70px" height="70xpx">
            </a>
      </div>
      <div class="col-md-9">
    <a href="#" class="navbar-brand"><h1>The Cargo village</h1></a>
      </div>
  </div>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/">cargo</a></li>
        <li><a href="#">shipment</a></li>
        <li class="border"><a href="/login">login</a></li>
        <li><a href="/signup">register</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
</header>

<div id="slides" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
    <li data-target="#slides" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="./assets/cargo.jpg" alt="">
      <div class="carousel-caption">
        <h2>the cargo village</h2>
      </div>
    </div>
    <div class="item">
      <img src="./assets/cargo.jpg" alt="">
      <div class="carousel-caption">
        </div>
    </div>
    <div class="item">
      <img src="./assets/cargo.jpg" alt="">
      <div class="carousel-caption">
        <p>We at Absolute Cargo Consultants are committed to our customers for excellence in Global Transportation and Logistics
          Our main aim is to create an environment where our partnerships enable us to develop the ultimate business understanding of our clients needs which allows them to achieve their goals.</p>
      </div>
    </div>
    <div class="item">
      <img src="./assets/cargo.jpg" alt="">
      <div class="carousel-caption">
          <h2>our objectives</h2>
          <p>We are dedicated to exceptional customer service, high quality standards and providing the best working environment for our staff. Continuously improving our service and teamwork will always be a focal point for Absolute Cargo Consultants</p>
        </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="description">
    <div class="row">
       <div class="col-md-4 col-ms-4">
          <div class="panel panel-default">
             <div class="image">
              <h2>tracking</h2>
              <p>
                Container tracking would be significantly easier if the first party actually owned the vessel—or even owned the container. Most vessels and shipping containers are owned. <br>
                <button type="submit"><a href="/cargo">track your shipment</a></button>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-ms-4">
            <div class="panel panel-default">
               <div class="image">
                <h2>our mission</h2>
                <p>To create an environment where partnerships enable us to develop the ultimate business understanding of our clients needs which allows them to achieve their goals.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-ms-4">
            <div class="panel panel-default">
               <div class="image">
              <h2>Shipment safety</h2>
                <p>
                  Container tracking would be significantly easier if the first party actually owned the vessel—or even owned the container. Most vessels and shipping containers are owned <br>
                </p>
              </div>
            </div>
          </div>
    </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4" >
        <h2>services</h2>
        <a href="#">login or register to our website</a>
        <a href="#">do a follow up for your shipment</a>
        <a href="#">email us a query</a>
        <a href="#">payment services</a>
        <hr>
      </div>
      <div class="col-md-4" id="border">
          <h2>contact us</h2>
        <a href="#">LOCATION :<br>Tena Block 890 along manyanja rd
          off outer ring rd</a>
        <a href="#">Tel: <br> 0720 536 887 ,
          0738 510 325 ,
          0737 821 721</a>
        <a href="#">P.O. Box 26130 - 00100
          Nairobi</a>
        <a href="#">email us at :wilfred@absolutecargoconsultants.com</a>
        <a href="#">send us feedback</a>

        <hr>
      </div>
      <div class="col-md-4">
        <p><a href="#">the cargo village copyright
          &copy;
              {{test | date: 'yyyy'}}</a></p>
      </div>
    </div>
  </div>
</footer>
