<!--<h2>sign up</h2>
<div class="cont">
      <form #signupForm="ngForm"  (ngSubmit)="OnSubmit(UserName.value,Password.value)">
        <h3>fields marked with <small>*</small> are mandatory </h3>
            <div class="up">
              <label for="Name"> first Name <small>*</small></label> <br>
      <input type="text" name="Name" placeholder="enter name" [(ngModel)]="login.Name" class="form-control" NameControl="ngModel" required><br><br>
      </div>
            <div class="up">
              <label for="Name"> last Name <small>*</small></label> <br>
              <input type="text" name="Name" placeholder="enter name" [(ngModel)]="login.Name" class="form-control" NameControl="ngModel" required><br><br>
              </div>
            <div class="up">
              <label for="Name"> adress <small>*</small></label> <br>
      <input type="text" name="Name" placeholder="enter name" [(ngModel)]="login.Name" class="form-control" NameControl="ngModel" required><br><br>
      </div>
            <div class="up"><label for="Name"> postal code <small>*</small></label> <br>
              <input type="text" name="Name" placeholder="enter name" [(ngModel)]="login.Name" class="form-control" NameControl="ngModel" required><br><br>

            </div>
              <div class="up"><label for="Name"> county <small>*</small></label> <br>
                <input type="text" name="Name" placeholder="enter name" [(ngModel)]="login.Name" class="form-control" NameControl="ngModel" required><br><br>
              </div>
              <div class="up">
                <label for="Name"> contact person <small>*</small></label> <br>
                <input type="text" name="Name" placeholder="enter name" [(ngModel)]="login.Name" class="form-control" NameControl="ngModel" required><br><br>

              </div>
              <div class="up"><label for="Name"> phone <small>*</small></label> <br>
                <input type="text" name="Name" placeholder="enter name" [(ngModel)]="login.Name" class="form-control" NameControl="ngModel" required><br><br>

              </div>
              <div class="up">
                <label for="Name"> email <small>*</small></label> <br>
                <input type="text" name="Name" placeholder="enter name" [(ngModel)]="login.Name" class="form-control" NameControl="ngModel" required><br><br>

              </div>
      </form>
      <div>
        <button type="submit" [disabled]="!signupForm.valid">sign up</button>
      </div>
</div>
remember to add terms and conditions
-->
